.catalogue {
  &-item {
    color: $light;
    display: block;
    padding: 2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      color: $light !important;
      width: 5rem;
    }

    &:hover{
      p{
        color: $light;
      }
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $gray-500;
    letter-spacing: .5px;
  }

  &-title {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    font-family: $font-family-sans-serif;
    color: $light !important;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $gray-500;
    display: block;
    width: 2rem;
  }

  p{
    color: $gray-500;
    font-weight: 300;
  }
}