$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #74b9ff !default;
$indigo:  #a29bfe !default;
$purple:  #6c5ce7 !default;
$pink:    #e84393 !default;
$red:     #d63031 !default;
$orange:  #e17055 !default;
$yellow:  #fdcb6e !default;
$green:   #00b894 !default;
$teal:    #00cec9 !default;
$cyan:    #81ecec !default;

$light:   $gray-300 !default;
$dark:    #263238 !default;

$font-family-sans-serif: 'Roboto', sans-serif !default;
$font-family-serif: 'Roboto Slab', serif !default;
